@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MFS</h1>
    <ul>
        <li><a>Make a character</a></li>
        <li><a>Make an enemy</a></li>
        <li><a>Roll some dice</a></li>
    </ul>
</div>
